html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}
.container {
	margin: 0 auto;
}
.titleItem {
	background-color: black;
	color: yellowgreen;
}
.anchor {
	display: block;
	background-color: rgb(203, 223, 93);
	color: rgb(9, 10, 95);
}
.genreChangetitle {
	color: rgb(9, 10, 95);
	display: block;
	flex-shrink: 1;
	padding-right: 20px;
}
.movieList {
	display: grid;
	/* grid-template-columns: repeat(12, 1fr); */
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	/* grid-column-gap: 10px; */
	/* grid-row-gap: 10px; */
	/* align-content: space-between; */
	grid-gap: 1rem;
	padding-left: 5px;
	padding-right: 5px;
	/* margin: 0 auto; */
}

.movie-item {
	/* grid-column: span 3; */

	position: relative;
	color: rgb(203, 223, 93);
	list-style-type: none;
	background-color: rgb(9, 10, 95);
}
.movie-item p {
	padding-top: 10px;
	margin-bottom: 5px;
}
.movie-poster {
	width: 100%;
}
.movie-title {
	display: block;
	height: 30px;
	font-weight: bold;
	font-size: 1em;
	text-align: center;
}
.selection {
	background-color: rgb(203, 223, 93);
	width: 150px;
	height: 40px;
	color: rgb(9, 10, 95);
}
.page {
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
}
.page button {
	margin: 20px;
}

button {
	background-color: rgb(203, 223, 93);
	border: 2px dashed rgb(9, 10, 95);
	border-radius: 10px;
	margin-left: 50px;
}
.page p {
	display: block;
	background-color: rgb(203, 223, 93);
	color: rgb(9, 10, 95);
}
footer {
	display: flex;
	height: 50px;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
}
/* @media only screen and (max-width: 1000px) {
	.movie-item {
		grid-column: span 5;
	}
}
@media only screen and (max-width: 601px) {
	.movie-item {
		grid-column: span 10;
	}
} */
